<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chiemy.demo.rxandroidstudydemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Main3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="filter_tag"
                android:value="main"/>
        </activity>
        <activity
            android:name=".ui.create.CreateOperatorActivity"
            android:label="@string/main_create">
            <meta-data
                android:name="filter_tag"
                android:value="create"/>
        </activity>
        <activity android:name=".ui.MarkdownFileActivity">
        </activity>
    </application>

</manifest>